{% extends 'base.html' %}
{%block content%}

<div class="p-5">
            <h1  style="color: darkgreen; text-align: center; font-family: cursive; font-size: xx-large;"><b> Online Practice Test</b></h1>
          </div>
   
          <div class="row text-justify p-5">
            <div class="col-sm-6 ">
            <h2><i style="color: green;"> We are on a mission to reshape the process of how students prepare online</i></h2>
        
            </div>
            <div class="col-sm-6 ">   <!---div for slide show-->
                
              <iframe width="560" height="315" src="https://www.youtube.com/embed/sNb7PCi5pYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            
            </div>
        </div>

{% endblock %}